@font-face {
    font-family: "Radical";
    src: url("../fonts/Radical.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}