.completion {
    .container {
        width: 40%;
        margin: 0 auto;
        border: none;
    }
    img {
        display: block;
        width: 250px;
        margin: 30px auto;
    }
    &__text {
        margin-top: 30px;
        font-size: 24px;
        text-align: center;
    }
}

@media (max-width: 1400px) {
    .completion {
        .container {
            width: 60%;
        }
    }
}
@media (max-width: 992px) {
    .completion img {
        width: 150px;
    }
    .completion__text {
        margin-top: 10px;
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .completion {
        .container {
            width: 80%;
        }
    }
}
@media (max-width: 576px) {
    .completion {
        .container {
            padding: 20px 10px;
        }
        &__text {
            font-size: 14px;
        }
        .title {
            font-size: 22px;
        }
        img {
            width: 100px;
            margin: 10px auto;
        }
    }
}
@media (max-width: 460px) {
    .completion {
        .container {
            width: 100%;
            margin: 0;
        }
        .title {
            font-size: 20px;
        }
    }
}