.footer {
    background: rgba(0, 0, 0, 0.72);
    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        &>div:first-child {
            text-align: center;
            &>div {
                margin-bottom: 20px;
                color: #fff;
                font-size: 18px;
                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 26px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .networks a{
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &>img {
            width: 450px;
        }
    }
    .container {
        border: none;
    }
}

@media (max-width: 1024px) {
    .footer__wrapper>img{
        width: 40%;
    }
}
@media (max-width: 992px) {
    .footer__wrapper {
        flex-direction: column;
        &>img {
            order: 1;
            width: 50%;
        }
        &>div {
            margin-top: 30px;
            order: 2;
        }
    }
}
@media (max-width: 768px) {
    .footer__wrapper {
        &>div:first-child>div a {
            font-size: 20px;
        }
        &>div:first-child>div {
            font-size: 14px;
        }
    }
}
@media (max-width: 576px) {
    .footer__wrapper>img  {
        width: 80%;
    }
}
@media (max-width: 460px) {
    .footer__wrapper>div:first-child>div {
        font-size: 12px;
    }
}