.info {
    position: relative;
    &>img {
        position: absolute;
        bottom: 50px;
        right: 0;
        width: 60%;
        z-index: 1;
    }
    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        &>div:last-child {
            width: 50%;
        } 
    }
    &__img {
        height: 24vw;
        img {
            position: absolute;
            top: 0;
            left: 60px;
            width: 50%;
        }
    }
    &__text {
        text-transform: uppercase;
        font-size: 1.5vw;
        text-align: center;
        span {
            font-size: 2vw;
        }
    }
    &__btn {
        margin: 0 auto;
        margin-top: 60px;
        padding: 70px 20px;
        display: block;
        border: none;
        border-radius: 100%;
        font-family: "Radical";
        font-size: 32px;
        color: #FFFFFF;
        text-transform: uppercase;
        background: #D33939;
    }
    &__text2 {
        // width: 100%;
        height: 45vw;
        width: 45vw;
        background: #D33939;
        // padding: 200px 70px;
        border-radius: 50%;
        font-size: 50px;
        color: #fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &>div {
            width: 80%;
            position: relative;
            z-index: 2;
            &:first-child {
                margin-bottom: 50px;
            }
        }
    }
}

@media (max-width: 1700px) {
    .info__text2 {
        font-size: 2.6vw;
    }
}
@media (max-width: 1280px) {
    .info__btn {
        margin-top: 30px;
        padding: 50px 20px;
        font-size: 25px;
    }
    .info__img {
        height: 25vw;
    }
}