.registration {
    margin-top: 100px;
    position: relative;
    img {
        position: absolute;
        right: 50px;
        top: 0;
        width: 20%;
    }
    .container {
        border: none;
        width: 60%;
        margin: 0 auto;
    }
    .subtitle {
        text-align: center;
        text-transform: uppercase;
        margin-top: 10px;
    }
    &__form {
        margin-top: 50px;
    }
    &__input {
        width: 100%;
        margin-bottom: 40px;
        input {
            width: 100%;
            border: none;
            border-bottom: 1px solid #143A69;
            color: #000;
            font-size: 26px;
            &:focus {
                outline:none;
            }
            &::placeholder {
                color: #000;
                font-size: 26px;
                font-weight: bold;
            }
        }
    }
    .reg_btn {
        border: none;
        display: block;
        width: 35%;
        padding: 20px 0;
        margin: 0 auto;
        color: #fff;
        font-weight: bold;
        font-size: 26px;
        text-align: center;
        background-color: #D33939;
        border-radius: 46px;
    }
    .agreement {
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
        width: 60%;
        a {
            text-decoration: none;
            color: #348FC7;
            &:hover {
                color: #348FC7;
            }
        }
    }
}

@media (max-width: 1200px) {
    .registration .agreement {
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .registration .container {
        width: 70%;
    }
}
@media (max-width: 992px) {
    .registration {
        margin-top: 60px;
        &__input {
            input {
                font-size: 22px;
                &::placeholder {
                    font-size: 22px;
                }
            }
        }
        img {
            top: -50px;
        }
    }
}
@media (max-width: 768px) {
    .registration {
        margin-top: 60px;
        .container {
            width: 80%;
        }
        &__form {
            margin-top: 30px;
        }
        &__input {
            margin-bottom: 30px;
            input {
                font-size: 20px;
                &::placeholder {
                    font-size: 20px;
                }
            }
        }
        img {
            top: -50px;
        }
        .reg_btn {
            width: 50%;
        }
        .agreement {
            font-size: 14px;
        }
        .subtitle {
            margin-top: 5px;
            font-size: 14px;
        }
    }
}
@media (max-width: 460px) {
    .registration {
        margin-top: 0;
        .container {
            width: 100%;
            padding: 20px 10px;
        }
        &__input {
            margin-bottom: 25px;
            input {
                font-size: 16px;
                &::placeholder {
                    font-size: 16px;
                }
            }
        }
        img {
            display: none;
        }
        .reg_btn {
            width: 100%;
            font-size: 22px;
            padding: 15px 10px;
        }
        .agreement {
            font-size: 12px;
        }
    }
}